<html>
  {{template "header.tmpl.html"}}
  <script>
    connectwithWS();
  </script>
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>Getting Started with Go</h1>
      <a type="button" id="counter" class="btn btn-lg btn-default" onclick=getCounter()><span class="glyphiconglyphicon-flash"></span> Counter</a>
      <a type="button" class="btn btn-lg btn-primary" onclick=increment()><span class="glyphiconglyphicon-download"></span> Hit it</a>
  </div>
</div>

</body>
</html>
